
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Livros</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1><img src="/img/book-icon.png" alt="Logo" width="40"> Cadastro de Livros</h1>
    <nav>
        <a href="/"><button class="nav-button">Início</button></a>
        <a href="/livros"><button class="nav-button">Listar Livros</button></a>
        <a href="/livros/novo"><button class="nav-button">Novo Livro</button></a>
    </nav>
</header>
